2_4_1/examples/ccd-ce2a1c62-37a3-4ff6-a7f3-6f1fef408d23.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:mlhim2="http://www.mlhim.org/xmlns/mlhim2/2_4_1"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:dc= "http://purl.org/dc/elements/1.1/"
    elementFormDefault="qualified"
    targetNamespace="http://www.mlhim.org/xmlns/mlhim2/2_4_1"
    xmlns:data-view="http://www.w3.org/2003/g/data-view#"
    data-view:transformation="http://www.mlhim.org/ccd/ccd_md_view.xsl">
    
    <xs:annotation>
        <xs:documentation source="http://www.mlhim.org" xml:lang="en-US">
            This is a  Concept Constraint Definition schema file (CCD).
            
            <rdf:RDF>
                
                <rdf:Description rdf:about="http://www.hkcr.net/ccd/ccd-ce2a1c62-37a3-4ff6-a7f3-6f1fef408d23.xsd">
                    <dc:title>Assessment Scales</dc:title>
                    <dc:creator>Flavio L. Seixas</dc:creator>
                    <dc:contributor/>
                    <dc:subject>Intellectual Disability; Memory Disorders; MeSH Heading Neuropsychological Tests;
                        Assessment scales;Mini-mental state score;Clinical dementia rating scale;
                        Verbal fluency test score;Pfeffer questionnaire score;Clock drawing test scale;
                        Trial making test;Education;Age;Stroop color word test;Lawton scale;IQCode score;
                        Berg balance scale;Depression;Gender</dc:subject>
                    <dc:source>See please the Reference Section in comments at the end of this file.</dc:source>
                    <dc:rights/>
                    <dc:relation>None</dc:relation>
                    <dc:coverage>Universal</dc:coverage>
                    <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
                    <dc:identifier>ccd-ce2a1c62-37a3-4ff6-a7f3-6f1fef408d23</dc:identifier>
                    <dc:description>This is a CCD to record results from assessment scales.</dc:description>
                    <dc:publisher>MLHIM</dc:publisher>
                    <dc:date>2012-09-01</dc:date>
                    <dc:format>text/xml</dc:format>

                    <dc:language>en-US</dc:language>
                </rdf:Description>
                
            </rdf:RDF>
            
        </xs:documentation>
    </xs:annotation>
    
    <xs:include schemaLocation="http://www.mlhim.org/xmlns/mlhim2/2_4_1/mlhim2.xsd"/>
        
    <xs:element name='ccd-ce2a1c62-37a3-4ff6-a7f3-6f1fef408d23' type="mlhim2:ct-d04e4e5b-92f6-4c57-b9ca-eed47f1d2521"/>
    
    <xs:complexType name="ct-d04e4e5b-92f6-4c57-b9ca-eed47f1d2521">
        <xs:complexContent>
            <xs:restriction base="mlhim2:CCDType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" ref="mlhim2:el-852cd734-b124-462b-8e33-9384e53bfa49"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-852cd734-b124-462b-8e33-9384e53bfa49' substitutionGroup="mlhim2:definition" type='mlhim2:ct-852cd734-b124-462b-8e33-9384e53bfa49'/>
    
    <xs:complexType name='ct-852cd734-b124-462b-8e33-9384e53bfa49'>
        <xs:complexContent>
            <xs:restriction base='mlhim2:CareEntryType'>
                <xs:sequence>
                    <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:links'/>
                    <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:feeder-audit'/>
                    <xs:element maxOccurs='1' minOccurs='1' name='language' type='xs:language' default='en-US'/>
                    <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
                    <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-e168a6b0-e797-4020-bc68-acda2a351aac'/>
                    <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:entry-provider'/>
                    <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:other-participations'/>
                    <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:protocol-id'/>
                    <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string'/>
                    <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:workflow-id'/>
                    <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:attestation'/>
                    <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-5d097c67-58cf-4a66-a7dd-cc8023d5b808'/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-5d097c67-58cf-4a66-a7dd-cc8023d5b808' substitutionGroup='mlhim2:entry-data' type='mlhim2:ct-5d097c67-58cf-4a66-a7dd-cc8023d5b808'/>
    <xs:element name='el-e168a6b0-e797-4020-bc68-acda2a351aac' substitutionGroup='mlhim2:entry-subject' type='mlhim2:ct-e168a6b0-e797-4020-bc68-acda2a351aac'/>
    
    
    
    
    <xs:complexType name="ct-e168a6b0-e797-4020-bc68-acda2a351aac"> <!-- subject -->
        <xs:complexContent>
            <xs:restriction base="mlhim2:PartyProxyType">
                <xs:sequence>
                    <xs:element maxOccurs='1' minOccurs='1' name="party-name" type="xs:string" default="Self"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ct-5d097c67-58cf-4a66-a7dd-cc8023d5b808">
         <xs:complexContent>
            <xs:restriction base="mlhim2:ClusterType">
                <xs:sequence>
                    <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:links'/>
                    <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:feeder-audit'/>
                    <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed='Care Cluster'/>
                    <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-0c71fe4c-8dd2-4d0f-af05-15b5b7b9de24'/>
                </xs:sequence>
            </xs:restriction>
         </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-0c71fe4c-8dd2-4d0f-af05-15b5b7b9de24' substitutionGroup='mlhim2:items' type='mlhim2:ct-0c71fe4c-8dd2-4d0f-af05-15b5b7b9de24'/>
    
    <!-- Cluster Items List -->
    <xs:complexType name='ct-0c71fe4c-8dd2-4d0f-af05-15b5b7b9de24'>
        <xs:complexContent>
            <xs:extension base='mlhim2:ItemType'>
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-1b5fb55f-035c-4590-a1e2-4b271e9289ba"/> <!-- MMSE       -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-7cb5d29a-cd6b-4508-8296-abe889d8baa3"/> <!-- CDR        -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-04f93142-bca5-430b-8e94-f51fc0937e6c"/> <!-- VFT        -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-3411794f-e6e6-4227-bb4b-9ddcbf3c0417"/> <!-- Pfeffer    -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-ac3a2651-1e48-4567-8aae-86d94e650cf6"/> <!-- CDT        -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-399eedc1-3d90-4fd2-992b-8cf408c7c518"/> <!-- TMT        -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-511dada7-60c1-4456-a3ed-28c73088319f"/> <!-- Education  -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-0f29199b-cbd5-452f-9468-96dec0fe203a"/> <!-- Age        -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-ff07694a-f044-40b9-ba43-65d5207b483d"/> <!-- STROOP     -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-70d40c7c-ee5d-4f33-b940-d686a1736676"/> <!-- Lawton     -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-3480cddd-d093-4eae-8fb3-a5d16b620168"/> <!-- IQCode     -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-aeb60e8e-c01a-4ff6-a880-3205fd947f31"/> <!-- Berg       -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-e9a25278-941c-40d6-8d81-0bb015fa4ceb"/> <!-- Depression -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-cb5e96fd-d219-4d93-b65b-d3c3d418a585"/> <!-- Gender     -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-1b5fb55f-035c-4590-a1e2-4b271e9289ba" substitutionGroup='mlhim2:Item' type="mlhim2:ct-1b5fb55f-035c-4590-a1e2-4b271e9289ba"/> <!-- MMSE       -->
    <xs:element name="el-7cb5d29a-cd6b-4508-8296-abe889d8baa3" substitutionGroup='mlhim2:Item' type="mlhim2:ct-7cb5d29a-cd6b-4508-8296-abe889d8baa3"/> <!-- CDR        -->
    <xs:element name="el-04f93142-bca5-430b-8e94-f51fc0937e6c" substitutionGroup='mlhim2:Item' type="mlhim2:ct-04f93142-bca5-430b-8e94-f51fc0937e6c"/> <!-- VFT        -->
    <xs:element name="el-3411794f-e6e6-4227-bb4b-9ddcbf3c0417" substitutionGroup='mlhim2:Item' type="mlhim2:ct-3411794f-e6e6-4227-bb4b-9ddcbf3c0417"/> <!-- Pfeffer    -->
    <xs:element name="el-ac3a2651-1e48-4567-8aae-86d94e650cf6" substitutionGroup='mlhim2:Item' type="mlhim2:ct-ac3a2651-1e48-4567-8aae-86d94e650cf6"/> <!-- CDT        -->
    <xs:element name="el-399eedc1-3d90-4fd2-992b-8cf408c7c518" substitutionGroup='mlhim2:Item' type="mlhim2:ct-399eedc1-3d90-4fd2-992b-8cf408c7c518"/> <!-- TMT        -->
    <xs:element name="el-511dada7-60c1-4456-a3ed-28c73088319f" substitutionGroup='mlhim2:Item' type="mlhim2:ct-511dada7-60c1-4456-a3ed-28c73088319f"/> <!-- Education  -->
    <xs:element name="el-0f29199b-cbd5-452f-9468-96dec0fe203a" substitutionGroup='mlhim2:Item' type="mlhim2:ct-0f29199b-cbd5-452f-9468-96dec0fe203a"/> <!-- Age        -->
    <xs:element name="el-ff07694a-f044-40b9-ba43-65d5207b483d" substitutionGroup='mlhim2:Item' type="mlhim2:ct-ff07694a-f044-40b9-ba43-65d5207b483d"/> <!-- STROOP     -->
    <xs:element name="el-70d40c7c-ee5d-4f33-b940-d686a1736676" substitutionGroup='mlhim2:Item' type="mlhim2:ct-70d40c7c-ee5d-4f33-b940-d686a1736676"/> <!-- Lawton     -->
    <xs:element name="el-3480cddd-d093-4eae-8fb3-a5d16b620168" substitutionGroup='mlhim2:Item' type="mlhim2:ct-3480cddd-d093-4eae-8fb3-a5d16b620168"/> <!-- IQCode     -->
    <xs:element name="el-aeb60e8e-c01a-4ff6-a880-3205fd947f31" substitutionGroup='mlhim2:Item' type="mlhim2:ct-aeb60e8e-c01a-4ff6-a880-3205fd947f31"/> <!-- Berg       -->
    <xs:element name="el-e9a25278-941c-40d6-8d81-0bb015fa4ceb" substitutionGroup='mlhim2:Item' type="mlhim2:ct-e9a25278-941c-40d6-8d81-0bb015fa4ceb"/> <!-- Depression -->
    <xs:element name="el-cb5e96fd-d219-4d93-b65b-d3c3d418a585" substitutionGroup='mlhim2:Item' type="mlhim2:ct-cb5e96fd-d219-4d93-b65b-d3c3d418a585"/> <!-- Gender     -->
    

    <!-- =============================================================================================================================== -->
    <!-- MMSE -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-1b5fb55f-035c-4590-a1e2-4b271e9289ba">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-82277514-3bdf-4579-95f0-0ba3ea912fe4"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-82277514-3bdf-4579-95f0-0ba3ea912fe4' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-82277514-3bdf-4579-95f0-0ba3ea912fe4'/>

    <xs:complexType name="ct-82277514-3bdf-4579-95f0-0ba3ea912fe4">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                  <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Mini mental state score" rdf:resource="https://uts.nlm.nih.gov/snomedctBrowser.html?conceptId=414750000"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                                <xs:enumeration value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-19"/>
                                <xs:enumeration value="20-27"/>
                                <xs:enumeration value="28"/>
                                <xs:enumeration value="29-30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- =============================================================================================================================== -->
    <!-- CDR -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-7cb5d29a-cd6b-4508-8296-abe889d8baa3">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-1e4b3a59-2f1d-485d-b15b-0e9c9f7397c0"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-1e4b3a59-2f1d-485d-b15b-0e9c9f7397c0' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-1e4b3a59-2f1d-485d-b15b-0e9c9f7397c0'/>    

    <xs:complexType name="ct-1e4b3a59-2f1d-485d-b15b-0e9c9f7397c0">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                  <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Clinical dementia rating scale" rdf:resource="https://uts.nlm.nih.gov/snomedctBrowser.html?conceptId=273367002"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="0"/>
                                <xs:enumeration value="0.5"/>
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>    
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-normal control"/>
                                <xs:enumeration value="0.5-very mild"/>
                                <xs:enumeration value="1-mild"/>
                                <xs:enumeration value="2-moderate"/>
                                <xs:enumeration value="3-severe"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- =============================================================================================================================== -->
    <!-- VFT -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-04f93142-bca5-430b-8e94-f51fc0937e6c">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-050b6bf7-8eb2-48d2-8f28-36b0cddc57f6"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-050b6bf7-8eb2-48d2-8f28-36b0cddc57f6' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-050b6bf7-8eb2-48d2-8f28-36b0cddc57f6'/> 

    <xs:complexType name="ct-050b6bf7-8eb2-48d2-8f28-36b0cddc57f6">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                    <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Verbal fluency test score" />
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-11"/>
                                <xs:enumeration value="12-19"/>
                                <xs:enumeration value="20-inf"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- =============================================================================================================================== -->
    <!-- Pfeffer -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-3411794f-e6e6-4227-bb4b-9ddcbf3c0417">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-c51d5ab8-62ed-494e-8c23-1f5debf5944e"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-c51d5ab8-62ed-494e-8c23-1f5debf5944e' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-c51d5ab8-62ed-494e-8c23-1f5debf5944e'/>
    
    <xs:complexType name="ct-c51d5ab8-62ed-494e-8c23-1f5debf5944e">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                    <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Pfeffer questionnaire score" />
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-1"/>
                                <xs:enumeration value="2-inf"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- =============================================================================================================================== -->
    <!-- CDT -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-ac3a2651-1e48-4567-8aae-86d94e650cf6">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-1c8cb32f-8063-4093-be1c-5a663e049b19"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-1c8cb32f-8063-4093-be1c-5a663e049b19' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-1c8cb32f-8063-4093-be1c-5a663e049b19'/>
    
    <xs:complexType name="ct-1c8cb32f-8063-4093-be1c-5a663e049b19">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                    <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Clock drawing test scale" />
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="0"/>
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                                <xs:enumeration value="4"/>
                                <xs:enumeration value="5"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0"/>
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                                <xs:enumeration value="4"/>
                                <xs:enumeration value="5"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- =============================================================================================================================== -->
    <!-- TMT -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-399eedc1-3d90-4fd2-992b-8cf408c7c518">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-9b026069-b831-43da-b9fd-16e4cecb37f5"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-9b026069-b831-43da-b9fd-16e4cecb37f5' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-9b026069-b831-43da-b9fd-16e4cecb37f5'/>
   
    <xs:complexType name="ct-9b026069-b831-43da-b9fd-16e4cecb37f5">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                  <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Trail making test" rdf:resource="https://uts.nlm.nih.gov/snomedctBrowser.html#273882000;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-16"/>
                                <xs:enumeration value="17-62"/>
                                <xs:enumeration value="62-inf"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- =============================================================================================================================== -->
    <!-- Education level in years -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-511dada7-60c1-4456-a3ed-28c73088319f">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-9c7dbcaa-361e-4296-9686-16391cdbfefe"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-9c7dbcaa-361e-4296-9686-16391cdbfefe' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-9c7dbcaa-361e-4296-9686-16391cdbfefe'/>
    
    <xs:complexType name="ct-9c7dbcaa-361e-4296-9686-16391cdbfefe">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                  <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Education" rdf:resource="https://uts.nlm.nih.gov/snomedctBrowser.html#276031006;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-15"/>
                                <xs:enumeration value="16-inf"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- =============================================================================================================================== -->
    <!-- Age range in years -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-0f29199b-cbd5-452f-9468-96dec0fe203a">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-ac532d31-18f9-4222-977e-6f9884db3478"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-ac532d31-18f9-4222-977e-6f9884db3478' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-ac532d31-18f9-4222-977e-6f9884db3478'/>
    
    <xs:complexType name="ct-ac532d31-18f9-4222-977e-6f9884db3478">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                  <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Age" rdf:resource="https://uts.nlm.nih.gov/snomedctBrowser.html#424144002;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-72"/>
                                <xs:enumeration value="73-inf"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- =============================================================================================================================== -->
    <!-- STROOP -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-ff07694a-f044-40b9-ba43-65d5207b483d">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-a0e03301-0f3d-4355-b58e-743c0143ae58"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-a0e03301-0f3d-4355-b58e-743c0143ae58' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-a0e03301-0f3d-4355-b58e-743c0143ae58'/>
    
    <xs:complexType name="ct-a0e03301-0f3d-4355-b58e-743c0143ae58">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                  <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Stroop color word test" rdf:resource="https://uts.nlm.nih.gov/snomedctBrowser.html#304776005;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-15"/>
                                <xs:enumeration value="16-inf"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- =============================================================================================================================== -->
    <!-- Lawton -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-70d40c7c-ee5d-4f33-b940-d686a1736676">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-f1300072-5e06-4050-b374-124e0599fb5f"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-f1300072-5e06-4050-b374-124e0599fb5f' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-f1300072-5e06-4050-b374-124e0599fb5f'/>
    
    <xs:complexType name="ct-f1300072-5e06-4050-b374-124e0599fb5f">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                    <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Lawton scale" /><!-- Lawton -->
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-9"/>
                                <xs:enumeration value="10-inf"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- =============================================================================================================================== -->
    <!-- IQCode - Informant Questionnaire on Cognitive Decline in the Elderly -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-3480cddd-d093-4eae-8fb3-a5d16b620168">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-01864783-367a-4ccc-9ef3-fe89d1828a8f"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-01864783-367a-4ccc-9ef3-fe89d1828a8f' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-01864783-367a-4ccc-9ef3-fe89d1828a8f'/>
    
    <xs:complexType name="ct-01864783-367a-4ccc-9ef3-fe89d1828a8f">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                    <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="IQCode score" /><!-- IQCode -->
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-3.35"/>
                                <xs:enumeration value="3.36-inf"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- =============================================================================================================================== -->
    <!-- Berg -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-aeb60e8e-c01a-4ff6-a880-3205fd947f31">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-a7387462-73db-4f67-87ba-7f63f0ea75f0"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-a7387462-73db-4f67-87ba-7f63f0ea75f0' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-a7387462-73db-4f67-87ba-7f63f0ea75f0'/>
    
    <xs:complexType name="ct-a7387462-73db-4f67-87ba-7f63f0ea75f0">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvOrdinalType">
                <xs:sequence>
                  <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Berg balance scale" rdf:resource="https://uts.nlm.nih.gov/snomedctBrowser.html#428203000;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;"/><!-- Berg -->
                    <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="symbol">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0-54"/>
                                <xs:enumeration value="55-inf"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- =============================================================================================================================== -->
    <!-- Depression -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-e9a25278-941c-40d6-8d81-0bb015fa4ceb">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-0a5d559d-0a33-4f41-b90c-483a269569bc"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-0a5d559d-0a33-4f41-b90c-483a269569bc' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-0a5d559d-0a33-4f41-b90c-483a269569bc'/>
    
    <xs:complexType name="ct-0a5d559d-0a33-4f41-b90c-483a269569bc">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvBooleanType">
                <xs:sequence>
                  <xs:element name="data-name" type="xs:string" maxOccurs="1" minOccurs="1" fixed="Depression" rdf:resource="https://uts.nlm.nih.gov/snomedctBrowser.html#35489007;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="valid-trues" type="xs:string" fixed="presence"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="valid-falses" type="xs:string" fixed="absence"/>
                    <xs:element minOccurs="1" name="DvBoolean-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="presence"/>
                                <xs:enumeration value="absence"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- =============================================================================================================================== -->
    <!-- Gender of the patient -->
    <!-- =============================================================================================================================== -->
    
    <xs:complexType name="ct-cb5e96fd-d219-4d93-b65b-d3c3d418a585">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/> 
                    <xs:element minOccurs="1"  maxOccurs="1" ref="mlhim2:el-c1b96462-e844-4cb4-b607-dfa9ad791b8d"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-c1b96462-e844-4cb4-b607-dfa9ad791b8d' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-c1b96462-e844-4cb4-b607-dfa9ad791b8d'/>
    
    <xs:complexType name="ct-c1b96462-e844-4cb4-b607-dfa9ad791b8d">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvStringType">
                <xs:sequence>
                  <xs:element name="data-name" maxOccurs="1" minOccurs="1" type="xs:string" fixed="Gender" rdf:resource="https://uts.nlm.nih.gov/snomedctBrowser.html#263495000;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;"/>
                    <xs:element name="DvString-dv" minOccurs="1"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Female"/>
                                <xs:enumeration value="Male"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>

<!--
==============================================================================================================
TERMINOLOGY
==============================================================================================================
TERM                                        CONCEPT ID              SOURCE
=========================================== ======================= ==========================================
Intellectual Disability                     D008607                 Medical Subject Headings
Memory Disorders                            D008569                 Medical Subject Headings
MeSH Heading Neuropsychological Tests       D009483                 Medical Subject Headings
Assessment scales                           273249006               SNOMED CT Version: 2012_01_31 (https://uts.nlm.nih.gov/snomedctBrowser.html#273249006;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;)
Mini-mental state score [1]                 414750000               SNOMED CT Version: 2012_01_31
Clinical dementia rating scale [2]          273367002               SNOMED CT Version: 2012_01_31
Verbal fluency test score [3]               -                       -
Pfeffer questionnaire score [4]             -                       -
Clock drawing test scale                    -                       -
Trail making test                           273882000               SNOMED CT Version: 2012_01_31
Education                                   276031006               SNOMED CT Version: 2012_01_31
Age                                         424144002               SNOMED CT Version: 2012_01_31
Stroop color word test                      304776005               SNOMED CT Version: 2012_01_31
Lawton scale                                -                       -
IQCode score [5]                            -                       -
Berg balance scale                          428203000               SNOMED CT Version: 2012_01_31
Depression                                  35489007                SNOMED CT Version: 2012_01_31
Gender                                      263495000               SNOMED CT Version: 2012_01_31
Dementia                                    52448006                SNOMED CT Version: 2012_01_31 (https://uts.nlm.nih.gov/snomedctBrowser.html#52448006;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;)
Alzheimer's disease                         26929004                SNOMED CT Version: 2012_01_31 (https://uts.nlm.nih.gov/snomedctBrowser.html#26929004;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;)
Mild cognitive disorder                     386805003               SNOMED CT Version: 2012_01_31 (https://uts.nlm.nih.gov/snomedctBrowser.html#386805003;0;0;CONCEPT_ID;null;SNOMEDCT;null;true;)


==============================================================================================================
REFERENCES
==============================================================================================================
[1] Folstein, M. F., S. E. Folstein e P. R. McHugh (1975). "Mini-mental state: A practical method for grading the cognitive state of patients for the clinician." J Psychiatr Res 12(3): 189-198.
[2] Morris, J. C. (1993). "The Clinical Dementia Rating (CDR): current version and scoring rules." Neurology 43(11): 2412-2414.
[3] Passos, V. M. d. A., L. Giatti, S. M. Barreto, R. C. Figueiredo, P. Caramelli, I. Benseñor, M. d. Jesus Mendes da Fonseca, N. V. Cade, A. C. Goulart, M. A. Nunes, M. G. d. M. Alves e A. A. M. d. Trindade (2011). "Verbal fluency tests reliability in a Brazilian multicentric study, ELSA-Brasil." Arquivos de Neuro-Psiquiatria 69: 814-816.
[4] Pfeffer, R. I., T. T. Kurosaki, C. H. Harrah, Jr., J. M. Chance e S. Filos (1982). "Measurement of functional activities in older adults in the community." J Gerontol 37(3): 323-329.
[5] Jorm, A., H. Christensen, A. Henderson, P. Jacomb, A. Korten e A. Mackinnon (1996). "Informant ratings of cognitive decline of elderly people: relationship to longitudinal change on cognitive tests." Age and ageing 25(2): 125-129.

==============================================================================================================
OBJECTS
==============================================================================================================
UUID                                        MHLIM TYPE              DESCRIPTION
=========================================== ======================= ==========================================
ccd-ce2a1c62-37a3-4ff6-a7f3-6f1fef408d23                            CCD
ct-d04e4e5b-92f6-4c57-b9ca-eed47f1d2521     CCD Type
ct-e168a6b0-e797-4020-bc68-acda2a351aac     PartyProxy              Subject (patient id, default=self)
ct-852cd734-b124-462b-8e33-9384e53bfa49     Care Entry              Care Entry
ct-5d097c67-58cf-4a66-a7dd-cc8023d5b808     Cluster                 Cluster for Care Entry
ct-1b5fb55f-035c-4590-a1e2-4b271e9289ba     Element                 MMSE
ct-82277514-3bdf-4579-95f0-0ba3ea912fe4     DvOrdinal               MMSE
ct-7cb5d29a-cd6b-4508-8296-abe889d8baa3     Element                 CDR
ct-1e4b3a59-2f1d-485d-b15b-0e9c9f7397c0     DvOrdinal               CDR
ct-04f93142-bca5-430b-8e94-f51fc0937e6c     Element                 VFT
ct-050b6bf7-8eb2-48d2-8f28-36b0cddc57f6     DvOrdinal               VFT
ct-3411794f-e6e6-4227-bb4b-9ddcbf3c0417     Element                 Pfeffer
ct-c51d5ab8-62ed-494e-8c23-1f5debf5944e     DvOrdinal               Pfeffer
ct-ac3a2651-1e48-4567-8aae-86d94e650cf6     Element                 CDT
ct-1c8cb32f-8063-4093-be1c-5a663e049b19     DvOrdinal               CDT
ct-399eedc1-3d90-4fd2-992b-8cf408c7c518     Element                 TMT
ct-9b026069-b831-43da-b9fd-16e4cecb37f5     DvOrdinal               TMT
ct-511dada7-60c1-4456-a3ed-28c73088319f     Element                 Education
ct-9c7dbcaa-361e-4296-9686-16391cdbfefe     DvOrdinal               Education
ct-0f29199b-cbd5-452f-9468-96dec0fe203a     Element                 Age
ct-ac532d31-18f9-4222-977e-6f9884db3478     DvOrdinal               Age
ct-ff07694a-f044-40b9-ba43-65d5207b483d     Element                 STROOP
ct-a0e03301-0f3d-4355-b58e-743c0143ae58     DvOrdinal               STROOP
ct-70d40c7c-ee5d-4f33-b940-d686a1736676     Element                 Lawton
ct-f1300072-5e06-4050-b374-124e0599fb5f     DvOrdinal               Lawton
ct-3480cddd-d093-4eae-8fb3-a5d16b620168     Element                 IQCode
ct-01864783-367a-4ccc-9ef3-fe89d1828a8f     DvOrdinal               IQCode
ct-aeb60e8e-c01a-4ff6-a880-3205fd947f31     Element                 Berg
ct-a7387462-73db-4f67-87ba-7f63f0ea75f0     DvOrdinal               Berg
ct-e9a25278-941c-40d6-8d81-0bb015fa4ceb     Element                 Depression
ct-0a5d559d-0a33-4f41-b90c-483a269569bc     DvBoolean               Depression
ct-cb5e96fd-d219-4d93-b65b-d3c3d418a585     Element                 Gender
ct-c1b96462-e844-4cb4-b607-dfa9ad791b8d     DvString                Gender

-->
    