2_4_3/schema/mlhim243.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:mlhim243="http://www.mlhim.org/xmlns/mlhim2/2_4_3"
  id="mlhim2-2_4_3"
  attributeFormDefault="qualified" elementFormDefault="qualified"
  targetNamespace="http://www.mlhim.org/xmlns/mlhim2/2_4_3" version="2.4.3"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
  
  <!--Datatypes package-->
  
  <xs:complexType abstract="true" name="DvAnyType">
    <xs:annotation>
      <xs:documentation>Serves as a common ancestor of all datatypes in MLHIM models. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Descriptive name of this fragment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:ExceptionalValue">
        <xs:annotation>
          <xs:documentation>The exceptional value. Often referred to as Null Flavour. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime" nillable="true">
        <xs:annotation>
          <xs:documentation>If present this must be a valid datetime including timezone. It is used to indicate the beginning time that information is considered valid or when the information was collected.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime" nillable="true">
        <xs:annotation>
          <xs:documentation>If present this must be a valid datetime including timezone</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element abstract="true" name="DvAny" type="mlhim243:DvAnyType"/>
  
  <xs:complexType name="DvBooleanType">
    <xs:annotation>
      <xs:documentation>Items which represent boolean decisions, such as true/false or yes/no answers. Use for such data, it
        is important to devise the meanings (usually questions in subjective data) carefully, so that the only allowed results
        are in fact true or false. Potential MisUse: The DvBoolean class should not be used as a replacement for naively
        modelled enumerated types such as male/female etc. Such values should be coded, and in any case the enumeration often
        has more than two values. Though the DvBoolean.dv attribute is a String type this is to easily allow responses that the
        user is more familiar with using in the context such as 'Yes', 'No' or 'True', 'False'. A conversion method is required
        to convert the valid-trues to True and the valid-falses to False. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvAnyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="valid-trues" type="xs:string">
            <xs:annotation>
              <xs:documentation>A set of strings that are to be converted to a boolean True in the implementation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="valid-falses" type="xs:string">
            <xs:annotation>
              <xs:documentation>A set of strings that are to be converted to a boolean False in the implementation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="DvBoolean-dv" type="xs:string">
            <xs:annotation>
              <xs:documentation>A truly boolean value in the implementation language, derived by selection in the implementation of
                one of the valid-trues or valid-falses. DvBoolean-dv may be a Void or Null value; in which case; ev cannot be empty.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvBoolean" substitutionGroup="mlhim243:DvAny" type="mlhim243:DvBooleanType"/>
  
  <xs:complexType name="DvURIType">
    <xs:annotation>
      <xs:documentation>Used to specify a Universal Resource Identifier. Set the pattern to accommodate your needs.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvAnyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="DvURI-dv" type="xs:anyURI">
            <xs:annotation>
              <xs:documentation>anyURI as a pointer.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string">
            <xs:annotation>
              <xs:documentation>Normally constrained by on ontology such as the OBO RO http://purl.obolibrary.org/obo/ro.owl
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvURI" substitutionGroup="mlhim243:DvAny" type="mlhim243:DvURIType"/>
  
  <xs:complexType name="DvStringType">
    <xs:annotation>
      <xs:documentation>DvString: The string data type can contain characters, line feeds, carriage returns, and tab characters.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvAnyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="DvString-dv" type="xs:string">
            <xs:annotation>
              <xs:documentation>Displayable rendition of the item.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language">
            <xs:annotation>
              <xs:documentation>Optional indicator of the localised language in which this datatype is written. The ·value space· of
                language is the set of all strings that are valid language identifiers as defined [RFC 3066] . Only required when the
                language used here is different from the enclosing Entry. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvString" substitutionGroup="mlhim243:DvAny" type="mlhim243:DvStringType"/>
  
  <xs:complexType name="DvCodedStringType">
    <xs:annotation>
      <xs:documentation>A text item whose DvString-dv attribute must be the long name or description from a controlled
        terminology. The key (i.e. the 'code') of which is the terminology-code attribute. In some cases, DvString-dv and
        terminology-code may have the same content. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="terminology-abbrev" type="xs:string">
            <xs:annotation>
              <xs:documentation>Version Source Abbreviation (VSAB) from NLM Metathesarus; or similar.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="terminology-name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Full Source Name from NLM Metathesarus; or similar.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="terminology-version" type="xs:string">
            <xs:annotation>
              <xs:documentation>The proper release/version ID from the releasing authority. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="terminology-code" type="xs:string">
            <xs:annotation>
              <xs:documentation>The uniquely identifiable code string from the terminology. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvCodedString" substitutionGroup="mlhim243:DvString mlhim243:DvAny" type="mlhim243:DvCodedStringType"/>
  
  <xs:complexType name="DvIdentifierType">
    <xs:annotation>
      <xs:documentation>DvIndentifierType is DEPRECATED as of 2.4.3 and will be removed in future versions. See https://github.com/mlhim/specs/issues/14 for details. 
        Type for representing identifiers of real-world entities. Typical identifiers include: drivers licence
        number, social security number, veterans affairs number, prescription id, order id, system id and so on. The actual
        identifier is in the DvString-dv. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="id-name" type="xs:string">
            <xs:annotation>
              <xs:documentation>The identifier common name, such as “Driver's License” or “SSN”.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="issuer" type="xs:string">
            <xs:annotation>
              <xs:documentation>Authority which issues the kind of id used in the id field of this object. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="assignor" type="xs:string">
            <xs:annotation>
              <xs:documentation>Organisation that assigned the id to the item being identified. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvIdentifier" substitutionGroup="mlhim243:DvString mlhim243:DvAny" type="mlhim243:DvIdentifierType"/>
  
  <xs:complexType abstract="true" name="DvEncapsulatedType">
    <xs:annotation>
      <xs:documentation>Abstract class defining the common meta-data of all types of encapsulated data. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvAnyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="size" type="xs:int">
            <xs:annotation>
              <xs:documentation>Original size in bytes of unencoded encapsu- lated data. I.e. encodings such as base64, hex- adecimal
                etc do not change the value of this attribute. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="encoding" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of character encoding scheme in which this value is encoded. Coded from the IANA charcater set
                table: http://www.iana.org/assignments/character-sets Unicode is the default assumption in MLHIM, with UTF-8 being the
                assumed encoding. This attribute allows for variations from these assumptions. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language">
            <xs:annotation>
              <xs:documentation>Optional indicator of the localised language in which the value is written. Coded IAW IETF RFC 5646.
                http://tools.ietf.org/html/rfc5646 language tag information should be used from the IANA registry
                http://www.iana.org/assignments/language-subtag-registry Only used when the text object is in a different language from
                the enclosing CCD. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element abstract="true" name="DvEncapsulated" substitutionGroup="mlhim243:DvAny" type="mlhim243:DvEncapsulatedType"/>
  
  <xs:complexType name="DvParsableType">
    <xs:annotation>
      <xs:documentation>Encapsulated data expressed as a parsable String. The internal model of the data item is not described
        in the MLHIM model, but in this case, the form of the data is assumed to be  plaintext, rather than compressed or other types of large binary data. 
        If the content is to be binary data then use a DvMedia.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvEncapsulatedType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="DvParsable-dv" type="xs:string">
            <xs:annotation>
              <xs:documentation>The string, which may validly be empty in some syntaxes </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="formalism" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of the formalism, e.g. “GLIF 1.0”, “proforma” etc. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvParsable" substitutionGroup="mlhim243:DvEncapsulated mlhim243:DvAny" type="mlhim243:DvParsableType"/>
  
  <xs:complexType name="DvMediaType">
    <xs:annotation>
      <xs:documentation>A specialisation of DvEncapsulated for audiovisual and bio-signal types. Includes further metadata
        relating to media types which are not applicable to other subtypes of DvEncapsulated. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvEncapsulatedType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="mime-type" type="xs:string">
            <xs:annotation>
              <xs:documentation>MIME type of the original media-content w/o any compression. See IANA registered types:
                http://www.iana.org/assignments/media-types/index.html </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="compression-type" type="xs:string">
            <xs:annotation>
              <xs:documentation>Compression/archiving mime-type. Void means no compression/archiving. For a list of common mime-types
                for compression/archiving see: http://en.wikipedia.org/wiki/List_of_archive_formats </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="hash-result" type="xs:string">
            <xs:annotation>
              <xs:documentation>Hash function result of the 'media-content'. There must be a corresponding hash function type listed
                for this to have any meaning. See: http://en.wikipedia.org/wiki/List_of_hash_functions#Cryptographic_hash_functions
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="hash-function" type="xs:string">
            <xs:annotation>
              <xs:documentation>Hash function used to compute hash-result. See:
                http://en.wikipedia.org/wiki/List_of_hash_functions#Cryptographic_hash_functions </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="alt-txt" type="xs:string">
            <xs:annotation>
              <xs:documentation>Text to display in lieu of multimedia display or execution. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="uri" type="xs:anyURI">
            <xs:annotation>
              <xs:documentation>URI reference to electronic information stored outside the record as a file, database entry etc, if
                supplied as a reference. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="media-content" type="xs:base64Binary">
            <xs:annotation>
              <xs:documentation>The content; if stored locally. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvMedia" substitutionGroup="mlhim243:DvEncapsulated mlhim243:DvAny" type="mlhim243:DvMediaType"/>

  <xs:complexType abstract="true" name="DvOrderedType">
    <xs:annotation>
      <xs:documentation>Abstract class defining the concept of ordered values, which includes ordinals as well as true
        quantities. The implementations require the functions ‘&lt;’, '&gt;' and is_strictly_comparable_to ('==').
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvAnyType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim243:reference-ranges">
            <xs:annotation>
              <xs:documentation>Optional list of ReferenceRanges for this value in its particular measurement context</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string">
            <xs:annotation>
              <xs:documentation>Optional normal status indicator of value with respect to normal range for this value. Often included
                by lab, even if the normal range itself is not included. Coded by ordinals in series HHH, HH, H, (nothing), L, LL, LLL,
                etc. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="reference-ranges" type="mlhim243:ReferenceRangeType"/>
  <xs:element abstract="true" name="DvOrdered" substitutionGroup="mlhim243:DvAny" type="mlhim243:DvOrderedType"/>
  
  <xs:complexType name="DvOrdinalType">
    <xs:annotation>
      <xs:documentation>Models rankings and scores, e.g. pain, Apgar values, etc, where there is a) implied ordering, b) no
        implication that the distance between each value is con- stant, and c) the total number of values is finite. Note that
        although the term ‘ordinal’ in mathematics means natural numbers only, here any decimal is allowed, since negative and
        zero values are often used by medical professionals for values around a neutral point. Also, decimal values are
        sometimes used such as 0.5 or .25 Examples of sets of ordinal values: -3, -2, -1, 0, 1, 2, 3 -- reflex response values
        0, 1, 2 -- Apgar values Used for recording any clinical datum which is customarily recorded using sym- bolic values.
        Example: the results on a urinalysis strip, e.g. {neg, trace, +, ++, +++} are used for leucocytes, protein, nitrites
        etc; for non-haemolysed blood {neg, trace, moderate}; for haemolysed blood {neg, trace, small, moderate, large}.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvOrderedType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="DvOrdinal-dv" type="xs:decimal">
            <xs:annotation>
              <xs:documentation>Value in ordered enumeration of values. The base integer is zero with any number of integer values
                used to order the symbols. Example 1: 0 = Trace, 1 = +, 2 = ++, 3 = +++, etc. Example 2: 0 = Mild, 1 = Moderate, 2 =
                Severe </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="symbol" type="xs:string">
            <xs:annotation>
              <xs:documentation>Coded textual representation of this value in the enumeration, which may be strings made from “+”
                symbols, or other enumerations of terms such as “mild”, “moderate”, “severe”, or even the same number series as the
                values, e.g. “1”, “2”, “3”. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element abstract="true" name="DvOrdinal" substitutionGroup="mlhim243:DvAny mlhim243:DvOrdered" type="mlhim243:DvOrdinalType"/>
  
  <xs:complexType abstract="true" name="DvQuantifiedType">
    <xs:annotation>
      <xs:documentation>Abstract class defining the concept of true quantified values, i.e. values which are not only ordered,
        but which have a precise magnitude. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvOrderedType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="magnitude" type="xs:decimal">
            <xs:annotation>
              <xs:documentation>Numeric value of the quantity in canonical (i.e. single value) form. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status">
            <xs:annotation>
              <xs:documentation><!-- Optional status of magnitude with values:
                •
                “=” : magnitude is a point value
                •
                “<“ : value is < magnitude
                •
                “>” : value is > magnitude
                •
                “<=” : value is <= magnitude
                •
                “>=” : value is >= magnitude
                •
                “~” : value is approximately magnitude
                If not selected, defaults to “=”.-->
                The restriction code in the comment below must be used in CCDs.
              </xs:documentation>
            </xs:annotation>
<!--            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="="/>
                <xs:enumeration value="&lt;"/>
                <xs:enumeration value="&gt;"/>
                <xs:enumeration value="&lt;="/>
                <xs:enumeration value="&gt;="/>
                <xs:enumeration value="~"/>
              </xs:restriction>  
            </xs:simpleType>  
-->          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="error" default="0" type="xs:int">
            <xs:annotation>
              <xs:documentation>Error margin of measurement, indicating error in the recording method or instrument (+/- %).
                Implemented in subtypes. A logical value of 0 (default) indicates 100% accuracy, i.e. no error. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="accuracy" default="0" type="xs:decimal">
            <xs:annotation>
              <xs:documentation>Accuracy of the value in the magnitude attribute. 0% to +/- 100% A value of 0 means that the accuracy
                is unknown. 0 is the default value. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element abstract="true" name="DvQuantified" substitutionGroup="mlhim243:DvOrdered mlhim243:DvAny" type="mlhim243:DvQuantifiedType"/>
  
  <xs:complexType name="DvCountType">
    <xs:annotation>
      <xs:documentation>Countable quantities. Used for countable types such as pregnancies and steps (taken by a physiotherapy
        patient), number of cigarettes smoked in a day, etc. Misuse:Not used for amounts of physical entities (which all have
        standardized units). Note that CCDs derived from DvCount should make magnitude, error and accuracy attributes minOccurs = '1'. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvQuantifiedType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim243:DvCount-units">
            <xs:annotation>
              <xs:documentation>The name or type of the countable quantity.Examples: cigarettes, drinks, pregnancies, episodes,
                etc.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:assert test="(if(mlhim243:magnitude mod 1 = 0) then true() else false())"></xs:assert>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvCount-units" type="mlhim243:DvStringType"/>  
  <xs:element name="DvCount" substitutionGroup="mlhim243:DvQuantified mlhim243:DvAny" type="mlhim243:DvCountType"/>
    
  <xs:complexType name="DvQuantityType">
    <xs:annotation>
      <xs:documentation>Quantitified type representing “scientific” quantities, i.e. quantities expressed as a magnitude and
        units. Can also be used for time durations, where it is more convenient to treat these as simply a number of individual seconds, 
        minutes, hours, days, months, years, etc. when no temporal calculation is to be performed.
        Note that CCDs derived from DvQuantity should make magnitude, error and accuracy attributes minOccurs = '1'.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvQuantifiedType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim243:DvQuantity-units">
            <xs:annotation>
              <xs:documentation>Stringified units, expressed in unit syntax, e.g. "kg/m2", “mm[Hg]", "ms-1", "km/h". A DvCodedStringType should be used when possible.
                 UOM codes can be found: http://www.obofoundry.org Also available in other terminologies such as SNOMEDCT. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvQuantity-units" type="mlhim243:DvStringType"/>
  <xs:element name="DvQuantity" substitutionGroup="mlhim243:DvQuantified mlhim243:DvOrdered mlhim243:DvAny" type="mlhim243:DvQuantityType"/>

  <xs:complexType name="DvRatioType">
    <xs:annotation>
      <xs:documentation>Models a ratio of values, i.e. where the numerator and denominator are both pure numbers. Should not
        be used to represent things like blood pressure which are often written using a ‘/’ character, giving the misleading
        impression that the item is a ratio, when in fact it is a structured value. Similarly, visual acuity, often written as
        (e.g.) “6/24” in clinical notes is not a ratio but an ordinal (which includes non-numeric symbols like CF = count
        fingers etc). Should not be used for formulations. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvQuantifiedType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="ratio-type" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Indicates semantic type of ratio  must be set as fixed to one of the below strings in CCDs.
                ratio = a relationship between two numbers.
                
                proportion = a relationship between two numbers where there is a bi-univocal relationship between the
                numerator and the denominator (the numerator is contained in the denominator)
                
                rate = a relationship between two numbers where there is not a bi-univocal relationship between the
                numerator and the denominator (the numerator is not contained in the denominator) 
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="numerator" type="xs:decimal">
            <xs:annotation>
              <xs:documentation>numerator of ratio </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="denominator" type="xs:decimal">
            <xs:annotation>
              <xs:documentation>denominator of ratio </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim243:numerator-units">
            <xs:annotation>
              <xs:documentation>Used to convey the meaning of the numerator. Typically countable units such as; cigarettes, drinks,
                exercise periods, etc. May or may not come from a terminology such as OBO Foundry Units ontology. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim243:denominator-units">
            <xs:annotation>
              <xs:documentation>Used to convey the meaning of the denominator. Typically units such as; days, years, months, etc. May
                or may not come from a standard terminology. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:ratio-units">
            <xs:annotation>
              <xs:documentation>Used to convey the meaning of the magnitude (ratio units). May or may not come from a standard terminology. </xs:documentation>
            </xs:annotation>
          </xs:element>        
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="numerator-units" type="mlhim243:DvStringType"/>  
  <xs:element name="denominator-units" type="mlhim243:DvStringType"/>    
  <xs:element name="ratio-units" type="mlhim243:DvStringType"/>  
  <xs:element name="DvRatio" substitutionGroup="mlhim243:DvQuantified mlhim243:DvOrdered mlhim243:DvAny" type="mlhim243:DvRatioType"/>
    
  <xs:complexType name="DvTemporalType">
    <xs:annotation>
      <xs:documentation>Class defining the concept of date and time types. 
        Must be constrained in CCDs to be one or more of the below elements.  
        This gives the modeller the ability to optionally allow partial dates at run time.  
        Setting maxOccurs and minOccurs to zero cause the element to be prohibitied.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvOrderedType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-date" type="xs:date"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-time" type="xs:time"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-datetime" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-day" type="xs:gDay"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-month" type="xs:gMonth"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-year" type="xs:gYear"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-year-month" type="xs:gYearMonth"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-month-day" type="xs:gMonthDay"/>
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-duration" type="xs:duration"/>              
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-ymduration" type="xs:yearMonthDuration" />              
          <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-dtduration" type="xs:dayTimeDuration"/>              
        </xs:sequence>
      </xs:extension> 
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvTemporal" substitutionGroup="mlhim243:DvAny" type="mlhim243:DvTemporalType"/>

  <xs:complexType name="DvIntervalType">
    <xs:annotation>
      <xs:documentation>Generic class defining an interval (i.e. range) of a comparable type. An interval is a contiguous
        subrange of a comparable base type. Used to define intervals of dates, times, quantities Whose units of measure match
        and datatypes are the same and are ordered. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvAnyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="lower" type="xs:anyType">
            <xs:annotation>
              <xs:documentation>lower value </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="upper" type="xs:anyType">
            <xs:annotation>
              <xs:documentation>upper value</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="lower-included" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>is lower included in interval </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="upper-included" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>is upper included in interval </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="lower-bounded" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>is lower bounded</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="upper-bounded" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>is upper bounded </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvInterval" substitutionGroup="mlhim243:DvAny" type="mlhim243:DvIntervalType"/>
  
  <xs:complexType name="ReferenceRangeType">
    <xs:annotation>
      <xs:documentation>Defines a named range to be associated with any ORDERED datum. Each such range is particular to the
        patient and context, e.g. sex, age, and any other factor which affects ranges. May be used to represent normal,
        therapeutic, dangerous, critical etc ranges. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:DvAnyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="referencerange-definition" type="xs:string">
            <xs:annotation>
              <xs:documentation>Term whose value indicates the meaning of this range, e.g. “normal”, “critical”, “therapeutic” etc.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim243:data-range">
            <xs:annotation>
              <xs:documentation>The data range for this meaning. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="is-normal" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>True if this reference range only contains values that are considered to be normal.</xs:documentation>
            </xs:annotation>
          </xs:element> 
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="data-range" type="mlhim243:DvIntervalType"/>
  <xs:element name="ReferenceRange" substitutionGroup="mlhim243:DvAny" type="mlhim243:ReferenceRangeType"/>
  

  <!--Common package types-->
  <xs:complexType name="FeederAuditDetailsType">
    <xs:annotation>
      <xs:documentation>Audit details for any system in a feeder system chain. Audit details here means the general notion of
        who/where/when the information item to which the audit is attached was created. None of the attributes are defined as
        mandatory, however, in different scenarios, various combinations of attributes will usually be mandatory. This can be
        controlled by specifying feeder audit details in CCDs used when conjunction with non-MLHIM systems as interface
        definitions. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:system-id">
        <xs:annotation>
          <xs:documentation>Identifier of the system which handled the information item. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:provider">
        <xs:annotation>
          <xs:documentation>Provider(s) who created, committed, forwarded or otherwise handled the item.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:location">
        <xs:annotation>
          <xs:documentation>Identifier of the particular site/facility within an organisation which handled the item.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="timestamp" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>DvDateTime timestamp of handling the item. For an originating system, this will be time of creation,
            for an intermediate feeder system, this will be a time of accession or other time of handling, where available.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:subject">
        <xs:annotation>
          <xs:documentation>Identifiers for subject of the received information item.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="version-id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Applicable version information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="system-id" type="mlhim243:DvIdentifierType"/>
  <xs:element name="provider" type="mlhim243:PartyIdentifiedType"/>
  <xs:element name="location" type="mlhim243:ItemType"/>
  <xs:element name="subject" type="mlhim243:PartyProxyType"/>
  <xs:element name="FeederAuditDetails" type="mlhim243:FeederAuditDetailsType"/>
  
  <xs:complexType name="FeederAuditType">
    <xs:annotation>
      <xs:documentation>Audit and other meta-data for software applications and systems in the feeder chain. This information
        is not typically used by modellers but by the applications themselves to "tag" entries when performing an extract.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:originating-system-audit">
        <xs:annotation>
          <xs:documentation>Any audit information for the information item from the originating system. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim243:originating-system-ids">
        <xs:annotation>
          <xs:documentation>Identifiers used for the item in the originating system, e.g. filler and placer ids.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:feeder-system-audit">
        <xs:annotation>
          <xs:documentation>Any audit information for the information item from the feeder system, if different from the
            originating system. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim243:feeder-system-ids">
        <xs:annotation>
          <xs:documentation>Identifiers used for the item in the feeder sys- tem, where the feeder system is distinct from the
            originating system. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:original-content">
        <xs:annotation>
          <xs:documentation>Reference to original content corresponding to the MLHIM content at this node. Typically a
            URI reference to a document or message in a persistent store associated with the record. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="originating-system-audit" type="mlhim243:FeederAuditDetailsType"/>
  <xs:element name="originating-system-ids" type="mlhim243:DvIdentifierType"/>
  <xs:element name="feeder-system-audit" type="mlhim243:FeederAuditDetailsType"/>
  <xs:element name="feeder-system-ids" type="mlhim243:DvIdentifierType"/>
  <xs:element name="original-content" type="mlhim243:DvURIType"/>
  <xs:element name="FeederAudit" type="mlhim243:FeederAuditType"/>
  
  <xs:complexType abstract="true" name="PartyProxyType">
    <xs:annotation>
      <xs:documentation>Abstract concept of a proxy description of a party, including an optional link to data for this party
        in a demographic or other identity management system. Sub- typed into PartyIdentified and PartySelf. </xs:documentation>
    </xs:annotation>
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="party-name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Optional human-readable name (in String form). </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:external-ref">
            <xs:annotation>
              <xs:documentation>Optional reference to more detailed demographic or identification information for this party, in an
                external system. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
  </xs:complexType>
  <xs:element name="external-ref" type="mlhim243:DvURIType"/>
  <xs:element abstract="true" name="PartyProxy" type="mlhim243:PartyProxyType"/>
  
  
  <xs:complexType name="PartyIdentifiedType">
    <xs:annotation>
      <xs:documentation>Proxy data for an identified party other than the subject of the record, minimally consisting of
        human-readable identifier(s), such as name, formal (and possibly computable) identifiers such as NHS number, and an
        optional link to external data. There must be at least one of name, identifier or external-ref present.Used to describe
        parties where only identifiers may be known, and there is no entry at all in the demographic system (or even no
        demographic system). Typi- cally for health care providers, e.g. name and provider number of an institution. Should not
        be used to include patient identifying information. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:PartyProxyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:details">
            <xs:annotation>
              <xs:documentation>Structural details about the party </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="details" type="mlhim243:ItemType"/>
  <xs:element name="PartyIdentified" substitutionGroup="mlhim243:PartyProxy" type="mlhim243:PartyIdentifiedType"/>
  
  <xs:complexType name="PartySelfType">
    <xs:annotation>
      <xs:documentation>Party proxy representing the subject of the record. May or may not have external-ref set. But
        external-ref usually points to a record persisted in a demographics service. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="mlhim243:PartyProxyType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="party-name" type="xs:string" fixed="Self">
            <xs:annotation>
              <xs:documentation>Fixed to the string "Self".</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartySelf" substitutionGroup="mlhim243:PartyProxy" type="mlhim243:PartySelfType"/>
  
  <xs:complexType name="AttestationType">
    <xs:annotation>
      <xs:documentation>Record an attestation by a party of item(s) of record content. The type of attestation is recorded by
        the reason attribute, which my be coded. </xs:documentation>
    </xs:annotation>
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:attested-view">
            <xs:annotation>
              <xs:documentation>Optional visual representation of content attested e.g. screen image. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:proof">
            <xs:annotation>
              <xs:documentation>Proof of attestation such as an GPG signature. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:reason">
            <xs:annotation>
              <xs:documentation>Reason of this attestation. Coded from a standardized vocabulary.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:committer">
            <xs:annotation>
              <xs:documentation>Identity of person who committed the item. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="time-committed" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Datetime of committal of the item. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" default="true" name="is-pending" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>True if this attestation is outstanding; 'false' means it has been completed. Default is 'true'</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
  </xs:complexType>
  <xs:element name="attested-view" type="mlhim243:DvMediaType"/>
  <xs:element name="proof" type="mlhim243:DvParsableType"/>
  <xs:element name="reason" type="mlhim243:DvStringType"/>
  <xs:element name="committer" type="mlhim243:PartyProxyType"/>
  <xs:element name="Attestation" type="mlhim243:AttestationType"/>
  
  <xs:complexType name="ParticipationType">
    <xs:annotation>
      <xs:documentation>Model of a participation of a Party (any Actor or Role) in an activity. Used to represent any
        participation of a Party in some activity, which is not explicitly in the model, e.g. assisting nurse. Can be used to
        record past or future participations. Should not be used in place of more permanent relationships between demographic
        entities. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:performer">
        <xs:annotation>
          <xs:documentation>The id and possibly demographic system link of the party participating in the activity.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:function">
        <xs:annotation>
          <xs:documentation>The function of the Party in this participation (note that a given party might participate in more
            than one way in a particular activity). In some applications this might be called a Role.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:mode">
        <xs:annotation>
          <xs:documentation>The mode of the performer / activity interaction, e.g. present, by telephone, by email etc. If the
            participation is by device or software it may contain a protocol standard or interface definition. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="start-time" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The beginning datetime when the participation took place.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="end-time" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The ending datetime when the participation took place.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="performer" type="mlhim243:PartyProxyType"/>
  <xs:element name="function" type="mlhim243:DvStringType"/>
  <xs:element name="mode" type="mlhim243:DvStringType"/>
  <xs:element name="Participation" type="mlhim243:ParticipationType"/>
  
  
  
  <xs:complexType abstract="true" name="ExceptionalValueType">
    <xs:annotation>
      <xs:documentation>Subclasses are used to indicate why a value is missing (Null) or is outside a measurable range.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="ev-name" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ev-meaning" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element abstract="true" name="ExceptionalValue" type="mlhim243:ExceptionalValueType"/>
  
  <xs:complexType name="NIType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>No Information : The value is exceptional (missing, omitted, incomplete, improper). No information as
            to the reason for being an exceptional value is provided. This is the most general exceptional value. It is also the
            default exceptional value </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="No Information" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element
            default="The value is exceptional (missing, omitted, incomplete, improper). No information as to the reason for being an exceptional value is provided. This is the most general exceptional value. It is also the default exceptional value."
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NI" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:NIType"/>
  
  <xs:complexType name="MSKType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Masked : There is information on this item available but it has not been provided by the sender due to
            security, privacy or other reasons. There may be an alternate mechanism for gaining access to this information. Warning:
            Using this exceptional value does provide information that may be a breach of confidentiality, even though no detail
            data is provided. Its primary purpose is for those circumstances where it is necessary to inform the receiver that the
            information does exist without providing any detail </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Masked" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element
            default="There is information on this item available but it has not been provided by the sender due to security, privacy or other reasons. There may be an alternate mechanism for gaining access to this information.  Warning: Using this exceptional value does provide information that may be a breach of confidentiality, even though no detail data is provided. Its primary purpose is for those circumstances where it is necessary to inform the receiver that the information does exist without providing any detail "
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MSK" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:MSKType"/>
  
  <xs:complexType name="INVType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Invalid : The value as represented in the instance is not a member of the set of permitted data values
            in the constrained value domain of a variable. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Invalid" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element
            default="The value as represented in the instance is not a member of the set of permitted data values in the constrained  value domain of a variable."
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="INV" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:INVType"/>
  
  
  <xs:complexType name="DERType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Derived : An actual value may exist, but it must be derived from the provided information; usually an
            expression is provided directly. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Derived" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element
            default="An actual value may exist, but it must be derived from the provided information; usually an expression is provided directly."
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DER" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:DERType"/>
  
  <xs:complexType name="UNCType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Unencoded : No attempt has been made to encode the information correctly but the raw source
            information is represented, usually in free text </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Unencoded" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element
            default="No attempt has been made to encode the information correctly but the raw source information is represented, usually in free text."
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UNC" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:UNCType"/>
  
  <xs:complexType name="OTHType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Other : The actual value is not a member of the permitted data values in the variable. (e.g., when the
            value of the variable is not by the coding system) </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Other" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element
            default="The actual value is not a member of the permitted data values in the variable. (e.g., when the value of the variable is not  by the coding system)."
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OTH" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:OTHType"/>
  
  <xs:complexType name="NINFType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Negative Infinity : Negative infinity of numbers </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Negative Infinity" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element default="Negative infinity of numbers." maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NINF" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:NINFType"/>
  
  
  <xs:complexType name="PINFType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Positive Infinity : Positive infinity of numbers </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Positive Infinity" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element default="Positive infinity of numbers." maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PINF" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:PINFType"/>
  
  <xs:complexType name="UNKType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Unknown : A proper value is applicable, but not known </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Unknown" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element default="A proper value is applicable, but not known." maxOccurs="1" minOccurs="1" name="ev-meaning"
            type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UNK" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:UNKType"/>
  
  <xs:complexType name="ASKRType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Asked and Refused : Information was sought but refused to be provided (e.g., patient was asked but
            refused to answer) </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Asked and Refused" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element default="Information was sought but refused to be provided (e.g., patient was asked but refused to answer)."
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ASKR" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:ASKRType"/>
  
  <xs:complexType name="NASKType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Not Asked : This information has not been sought (e.g., patient was not asked) </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Not Asked" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element default="This information has not been sought (e.g., patient was not asked)." maxOccurs="1" minOccurs="1"
            name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NASK" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:NASKType"/>
  
  <xs:complexType name="QSType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Sufficient Quantity : The specific quantity is not known, but is known to non-zero and it is not
            specified because it makes up the bulk of the material; Add 10mg of ingredient X, 50mg of ingredient Y and sufficient
            quantity of water to 100mL. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Sufficient Quantity" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element
            default="The specific quantity is not known, but is known to non-zero and it is not specified because it makes up the bulk of the material; Add 10mg of ingredient X, 50mg of ingredient Y and sufficient quantity of water to 100mL."
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QS" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:QSType"/>
  
  <xs:complexType name="TRCType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Trace : The content is greater or less than zero but too small to be quantified. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Trace" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element default="The content is greater or less than zero but too small to be quantified." maxOccurs="1" minOccurs="1"
            name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TRC" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:TRCType"/>
  
  <xs:complexType name="ASKUType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Asked but Unknown : Information was sought but not found (e.g., patient was asked but did not know)
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Asked but Unknown" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element default="Information was sought but not found (e.g., patient was asked but did not know)." maxOccurs="1"
            minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ASKU" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:ASKUType"/>
  
  <xs:complexType name="NAVType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Not Available : Information is unavailable at this time but is expected that it will be available
            later. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Not Available" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element default="Information is unavailable at this time but is expected that it will be available later."
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NAV" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:NAVType"/>
  
  <xs:complexType name="NAType">
    <xs:complexContent>
      <xs:restriction base="mlhim243:ExceptionalValueType">
        <xs:annotation>
          <xs:documentation>Not Applicable : No proper value is applicable in this context e.g.,the number of cigarrettes smoked
            per day by a non-smoker subject. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element fixed="Not Applicable" maxOccurs="1" minOccurs="1" name="ev-name" type="xs:string"/>
          <xs:element
            default="No proper value is applicable in this context e.g.,the number of cigarettes smoked per day by a non-smoker subject."
            maxOccurs="1" minOccurs="1" name="ev-meaning" type="xs:string"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NA" substitutionGroup="mlhim243:ExceptionalValue" type="mlhim243:NAType"/>
  
  
  <!--Structures / items types -->
  
  <xs:complexType abstract="true" name="ItemType">
    <xs:annotation>
      <xs:documentation>The abstract parent of Cluster and Element representation classes. </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:element abstract="true" name="Item" substitutionGroup="mlhim243:entry-data" type="mlhim243:ItemType"/>
  
  <xs:complexType name="ClusterType">
    <xs:annotation>
      <xs:documentation>The grouping variant of Item, which may contain further instances of Item, in an ordered list. This
        provides the root Item for potentially very complex structures. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:ItemType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="cluster-subject" type="xs:string">
            <xs:annotation>
              <xs:documentation>Descriptive name of this branch. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="1" ref="mlhim243:items">
            <xs:annotation>
              <xs:documentation>List of Item types. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="items" type="mlhim243:ItemType"/>
  <xs:element name="Cluster" substitutionGroup="mlhim243:Item" type="mlhim243:ClusterType"/>
  
  <!-- Replacement for ElementType -->
  <xs:complexType name="DvAdapterType">
    <xs:annotation>
      <xs:documentation>The leaf variant of Item, to which any DvAny subtype instance is attached for use in a Cluster.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:ItemType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim243:DvAdapter-dv">
            <xs:annotation>
              <xs:documentation>Data value type of this leaf.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DvAdapter-dv" type="mlhim243:DvAnyType"/>
  <xs:element name="DvAdapter" substitutionGroup="mlhim243:Item" type="mlhim243:DvAdapterType"/>
  
  <!--Content / entry types -->
  <xs:complexType abstract="true" name="EntryType">
    <xs:annotation>
      <xs:documentation>The abstract parent of all Entry subtypes. An Entry is the root of a logical set of data items. An
        Entry is also the minimal unit of information any query should return, since a whole Entry (including sub-parts) records
        spatial structure, timing information, and contextual information, as well as the subject and generator of the
        information; required for complete semantic interoperability. Each subtype has identical attribute information. The
        subtyping is used to allow persistence to separate the types of Entries; primarily import in healthcare for the
        de-identification of clinical information. </xs:documentation>
    </xs:annotation>
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim243:entry-links">
            <xs:annotation>
              <xs:documentation>Optional link(s) to other Locatable structures or external entities.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:entry-audit">
            <xs:annotation>
              <xs:documentation>Audit trail from the system of original commit of information forming the content of this node, or
                from a conversion gateway which has synthesised this node. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="language" type="xs:language" default="en-US">
            <xs:annotation>
              <xs:documentation>Mandatory indicator of the localised language in which this Entry is written. The ·value space· of
                language is the set of all strings that are valid language identifiers as defined [RFC 3066] . </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="encoding" type="xs:string" default="utf-8">
            <xs:annotation>
              <xs:documentation>Name of character set encoding in which text values in this Entry are encoded. Default is utf-8.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim243:entry-subject">
            <xs:annotation>
              <xs:documentation>Id of human subject of this Entry, e.g.: • subject of record (patient, etc.) • organ donor • foetus •
                a family member • another clinically relevant person. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:entry-provider">
            <xs:annotation>
              <xs:documentation>Optional identification of the source of the information in this Entry, which might be: • the patient
                • a patient agent, e.g. parent, guardian • the clinician • a device or software </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim243:other-participations">
            <xs:annotation>
              <xs:documentation>List of other participations at Entry level. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:protocol-id">
            <xs:annotation>
              <xs:documentation>Optional external identifier of protocol used to create this Entry. This could be a clinical
                guideline, an operations protocol,etc. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="current-state" type="xs:string">
            <xs:annotation>
              <xs:documentation>The current state according to the state machine / workflow engine identified in workflow-id as a
                string.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:workflow-id">
            <xs:annotation>
              <xs:documentation>Identifier of externally held workflow engine (state machine) data for this workflow execution.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" ref="mlhim243:attestation">
            <xs:annotation>
              <xs:documentation>Attestation recorded. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim243:entry-data">
            <xs:annotation>
              <xs:documentation>The data structure of the Entry. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
  </xs:complexType>
  <xs:element name="entry-links" type="mlhim243:DvURIType"/>
  <xs:element name="entry-audit" type="mlhim243:FeederAuditType"/>
  <xs:element name="entry-subject" type="mlhim243:PartyProxyType"/>
  <xs:element name="entry-provider" type="mlhim243:PartyProxyType"/>
  <xs:element name="other-participations" type="mlhim243:ParticipationType"/>
  <xs:element name="protocol-id" type="mlhim243:DvIdentifierType"/>
  <xs:element name="workflow-id" type="mlhim243:DvURIType"/>
  <xs:element name="attestation" type="mlhim243:AttestationType"/>
  <xs:element name="entry-data" type="mlhim243:ItemType"/>
  <xs:element abstract="true" name="Entry" type="mlhim243:EntryType"/>
  
  <xs:complexType name="CareEntryType">
    <xs:annotation>
      <xs:documentation>Entry subtype for all entries related to care of an a subject of record. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:EntryType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CareEntry" substitutionGroup="mlhim243:Entry" type="mlhim243:CareEntryType"/>
  
  <xs:complexType name="AdminEntryType">
    <xs:annotation>
      <xs:documentation>Entry subtype for administrative information, i.e. information about setting up the clinical process,
        but not itself clinically relevant. Archetypes will define con- tained information. Used for admistrative details of
        admission, episode, ward location, discharge, appointment (if not stored in a practice management or appointments
        system). Not used for any clinically significant information. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:EntryType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdminEntry" substitutionGroup="mlhim243:Entry" type="mlhim243:AdminEntryType"/>
  
  <xs:complexType name="DemographicEntryType">
    <xs:annotation>
      <xs:documentation>Entry subtype for demographic information, i.e. name structures, roles, locations, etc. Modelled as a
        separate class from AdminEntry in order to facilitate the separation of clinical and non-clical information to support
        de-identification of clinical and administrative data. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mlhim243:EntryType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DemographicEntry" substitutionGroup="mlhim243:Entry" type="mlhim243:DemographicEntryType"/>
  
  
  <!--CCD / constraint model -->
  <xs:complexType name="CCDType">
    <xs:annotation>
      <xs:documentation>This is the root node of a Concept Constraint Definition. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" ref="mlhim243:definition">
        <xs:annotation>
          <xs:documentation>Structural definition element for this CCD.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="definition" type="mlhim243:EntryType"/>
  <xs:element name="CCD" type="mlhim243:CCDType"/>
  
</xs:schema>
